<div class="container">
  
  <div class="row">
    <div class="col-md-5 col-xs-5">
      <h4>商品編集</h4>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6 px-sm-0 offset-3">
      <%= form_with model: @item, url: admin_item_path(@item), local: true, method: :patch do |f| %>
        <table class="table table-borderless table-sm mx-auto">
          
          <tr>
            <th><%= f.label :商品画像 %></th>
            <td><%= f.file_field :image, accept: "image/*" %></td>
          </tr>
          
          <tr>
            <th><%= f.label :商品名 %></th>
            <td><%= f.text_field :name, placeholder:"商品名", class: "form-control" %></td>
          </tr>
          
          <tr>
            <th><%= f.label :商品説明 %></th>
            <td><%= f.text_area :introduction, placeholder:"ここに説明文を記述します", class: "form-control", rows: 5 %></td>
          </tr>
          
          <tr>
            <th><%= f.label :ジャンル %></th>
            <td><%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: "ジャンルを選択してください" }, { class: "form-control" } %></td>
          </tr>
          
          <tr>
            <th><%= f.label :税抜価格 %></th>
            <td><%= f.text_field :price, placeholder:"1000", :size => "50" %>円</td>
          </tr>
          
          <tr>
            <th><%= f.label :is_active, "販売ステータス" %></th>
            <td>
              <div class="d-flex justify-content-center">
                <div class="form-check form-check-inline mr-5">
                  <%= f.radio_button :is_active, true, class: "form-check-input" %>
                  <%= f.label :is_active, "販売中", class: "form-check-label" %>
                </div>
                <div class="form-check form-check-inline">
                  <%= f.radio_button :is_active, false, class: "form-check-input" %>
                  <%= f.label :is_active, "販売停止中", class: "form-check-label" %>
                </div>
              </div>
            </td>
          </tr>
          
          <tr>
            <td colspan="2" class="text-center">
              <%= f.submit "更新", class:"btn btn-success" %>
            </td>
          </tr>
          
      </table>
      <% end %>
    </div>
  </div>
</div>
