<div class="container ">
  <div class="row">
    <!-- サイドバー（ジャンル検索用のBOX） -->
    <div class="col-md-3 bg-light">
      <%= render 'public/shared/sidebar' %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-9">
          <div class="position-relative" style="background-image: url('/assets/bakery-photo_1003615-10455.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 350px; opacity: 0.9;">
            <div class="text-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
              <p class="text-white">
                ようこそ、ながのCAKEへ！<br>
                このサイトは、ケーキ販売のECサイトになります。<br>
                会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row"><%#　ここは後でeachとかをつかって商品の画像を並べるところ。 %>
        <div class="col-md-12 mt-2">
          <h4>新着商品</h4>
          <div class="row">
            <% @items.each do |t| %>
              <div class="col-md-3">
                <%= link_to item_path(t.id) do %>
                  <%= image_tag t.get_image, size:'150x100' %>
                <% end %></br>
                <%= link_to item_path(t.id), class:"text-dark" do %>
                  <%= t.name %>
                <% end %></br>
                <span>￥<%= t.display_price.to_s(:delimited, delimiter: ',') %></span>
              </div>

            <% end %>
          </div>
          <div class="row">
            <div class="col-md-12 text-right mt-2">
              <%= link_to "全ての商品を見る>", items_path, class:"text-dark" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>